In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
data = pd.read_csv("bnkloan.csv")

In [3]:
data

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,debt,cred,otherdebt,in
0,28,2,7,2,44,17.7,2.991,5,0,17700,2991,4797,440000
1,64,5,34,17,116,14.7,5.047,12,0,14700,5047,12005,1160000
2,40,1,20,12,61,4.8,1.042,2,0,4800,1042,1886,610000
3,30,1,11,3,27,34.5,1.751,8,0,34500,1751,7564,270000
4,25,1,2,2,30,22.4,0.759,6,1,22400,759,5961,300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,34,3,8,4,83,11.0,1.853,7,0,11000,1853,7277,830000
1496,37,2,10,8,43,3.6,0.807,1,0,3600,807,741,430000
1497,25,5,0,3,16,3.2,0.288,0,0,3200,288,224,160000
1498,34,1,10,8,41,14.5,1.195,5,0,14500,1195,4750,410000
1499,27,1,2,2,24,5.8,0.555,1,0,5800,555,837,240000

In [5]:
#multiple regression
reg=linear_model.LinearRegression()
reg.fit(data[['age','debt','cred']],data[['in']])

LinearRegression()

In [7]:
reg.coef_

array([[15325.43260924,   -28.17849749,   126.69242348]])

In [8]:
reg.intercept_

array([106808.4784611])